.formcontainer {
  width: 80%;
  height: 800px;
  flex-direction: row;
  background: #ffffff52;
  justify-self: center;
  justify-content: center;
}

.formbutton {
  color: #485a68;
  width: 172px;
  height: 56px;
  background: #E79645;
  border-radius: 8px;
  justify-self: center;
  margin:  20%;
}

.formbutton button {
  color: #000000;
  width: 172px;
  height: 56px;
  background: #485a68;
  border-radius: 8px;
  justify-self: center;
}

.formbutton button:hover {
  background-color: #E79645;
}

.formdropdowns {
  box-sizing: border-box;
  position: relative;
  width: 408px;
  height: 254px;
  border: 1px dashed #E79645;
  border-radius: 5px;
}

.formdropdown1 {
  color: #485a68;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px;
  gap: 10px;
  width: 368px;
  height: 40px;
  background: #ffffff52;
  border: 2px solid #E79645;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.inputimg {
  color: #098ff7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;
  width: 368px;
  height: 40px;
  border: 2px solid #E79645;
  border-radius: 8px;
  color: #485a68;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}



h3 {
  color: #485a68;
    justify-self: center;
}

h5 {
  color: #485a68;

}

.formRow {
  display: flex;
  flex-direction: row;
  justify-self: center;
  }
  
.formColumn1 {
   width: 400px;
   height: 400px;
  flex-direction: column;
  margin-top: 20px;

  }
  .formColumn2 {
    flex-direction: column;
    width: 400px;
    height: 400px;
    padding: 20px;
    }


.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  width: 368px;
  height: 40px;
  background: #ffffff52;
  border: 2px solid #E79645;
  border-radius: 8px;
  color: #485a68;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}



