/* .formcontainer {

  width: 400px;
  height: 400px;
  display: block;
  background: #FFFFFF;
  
} */

/* Sign Up */

/* Sign Up */

/* Rectangle 9636 */
.formRow {
  margin-top: -15%;
  padding: 20%;
display: flex;
flex-direction: row;
}

.formColumn1 {
  width: 400px;
  height: 400px;
flex-direction: column;
background: #FFFFFF;
opacity: 0.5;
}
.formColumn2 {
  flex-direction: column;
  width: 400px;
  height: 400px;
background: #ffffff;
padding: 50px;
  }


.form {
  position: absolute;
  width: 811px;
  height: 1080px;
  left: 1109px;
  top: 0px;
  
  background: #FFFFFF;
  
}



.formRow button {
  height: 30px;
  width: 35%;
  text-align: center;
  border-radius: 10%;
  color: #000;
  background-color: #E79645;
}



.inputs {
  margin: 5px 0 5px 0;
  
}

.Logo {
  /* Rectangle */

position: absolute;



opacity: 0.1;

}

p {
  font-weight: bold;
}
.errors {
  color: red;
}
  
